.label{
    -fx-font: normal 14 "Courier New";
}
.label-title{
    -fx-font-weight: bold;
}
.text-field{
    -fx-font: normal 14 "Courier New";
}
.text-area {
    -fx-font: normal 14 "Courier New";
}
.button{
    -fx-font: normal 14 "Courier New";
    -fx-background-color: #f6f7f7;
}
.button:hover{
    -fx-background-color: #dcdcde;
}
.green-button{
    -fx-background-color: #edfaed;
}
.green-button:hover{
    -fx-background-color: #b8e6bf;
}
.red-button{
    -fx-background-color: #fcf0f1;
}
.red-button:hover{
    -fx-background-color: #facfd2;
}
.background{
    -fx-padding: 25;
    -fx-background-color: #ffffff;
    -fx-pref-height: 500;
    -fx-pref-width: 750;
}
.white-background{
    -fx-background-color: #ffffff;
}
.padding{
    -fx-padding: 25;
}
.spacing{
    -fx-spacing: 10;
}
.grid-pane-spacing{
    -fx-hgap: 10;
    -fx-vgap: 10;
}
.alignment{
    -fx-alignment: center;
}